* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --blockWidth: 1300px;
}

body {
    background-color: #eef0f4;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 80px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    padding: 8px 12px;
    border: 1px solid #81212D;
    border-radius: 4px;
    text-decoration: none;
    color: #81212D;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #f4f4f4;
}

.active .page-link {
    background-color: #81212D;
    color: #fff;
    border-color: #81212D;
}